.register {
  width: 100%;
  font-family: PingFang SC;
}
.register .top {
  width: 100%;
  height: 88rpx;
  color: #666666;
  font-size: 27rpx;
  padding: 0 49rpx;
  box-sizing: border-box;
}
.register .top .left {
  float: left;
}
.register .top .right {
  float: right;
}
.register .content,
.register .content2,
.register .content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .content .title,
.register .content2 .title,
.register .content3 .title {
  font-size: 42rpx;
  margin: 54rpx 0 24rpx;
  color: #333333;
  font-weight: bold;
}
.register .content .desc,
.register .content2 .desc,
.register .content3 .desc {
  color: #666666;
  font-size: 28rpx;
  font-weight: Medium;
  width: 405px;
  font-weight: 500;
  line-height: 46px;
}
.register .content .option,
.register .content2 .option,
.register .content3 .option {
  margin-top: 72rpx;
}
.register .content .option button,
.register .content2 .option button,
.register .content3 .option button {
  width: 360rpx;
  height: 84rpx;
  background-color: #F3F4F6;
  border-radius: 42rpx;
  margin-bottom: 40rpx;
  font-size: 32rpx;
  color: #666666;
  line-height: 84rpx;
}
.register .content .option .active,
.register .content2 .option .active,
.register .content3 .option .active {
  background-color: #D3381C;
  color: #FFFFFF;
}
.register .bot {
  width: 100%;
  padding: 0 49rpx;
  box-sizing: border-box;
  text-align: right;
  font-size: 32rpx;
  color: #d3381c;
  bottom: 71rpx;
  position: fixed;
}
.option2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 47rpx;
  box-sizing: border-box;
  margin-top: 72rpx;
}
.option2 button {
  width: 316rpx;
  height: 84rpx;
  background-color: #F3F4F6;
  border-radius: 42rpx;
  margin-bottom: 40rpx;
  font-size: 32rpx;
  color: #666666;
  line-height: 84rpx;
}
.option2 .active {
  background-color: #D3381C;
  color: #FFFFFF;
}
