let config

let isProduct = 1

if (isProduct == 1) {
    console.log('正式环境')
    config = {
        $webBaseUrl: 'https://www.www.com/',
        $picRand: '171',
        $static: 'https://static.www.com/'
    }
} else {
    console.log('测试环境')
    //测试
    config = {
        $webBaseUrl: 'https://www.www.com/',
        $picRand: '171',
        $static: 'https://static.www.com/'
    }
}

export default config